[Unit]
Description=RFKill-Unblock All Devices
Requires=systemd-rfkill.service network.target
After=systemd-rfkill.service network.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/rfkill unblock all

[Install]
WantedBy=multi-user.target

