[Unit]
Description=Adlink startup script during bootup

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/usr/sbin/adlink-startup'

[Install]
WantedBy=multi-user.target
