[Unit]
Description=USB OTG Mux Control

[Service]
Type=simple
ExecStart=/usr/sbin/gpiomon-action.py -c 0 -i 10 -o 1
Restart=always

[Install]
WantedBy=multi-user.target
